<h3><%=P2Opdata::CATEGORIES[targ[0]]%></h3>
<%=column_list(P2Opdata::P2Instructions
    .select{|i|i.category==targ[0]&&!i.alias}
    .sort_by(&:name)
    .map{|i| [[i.name,i.extra].compact.join(' '),i.doc_href] })%>