<%
if targ[0].is_a? Symbol
    list = P2Opdata::P2Instructions.select{|i|i.category==targ[0]&&!i.alias}
    title = P2Opdata::CATEGORIES[targ[0]]
else
    list = targ[0]
    title = targ[1]
end%><h3><%=title%></h3>
<%=column_list(list.sort_by(&:name)
    .map{|i| [[i.name,i.extra].compact.join(' '),i.doc_href] })%>