<%
op = P2Opdata::P2Instructions.find{|i|i.name==targ[0].upcase}
%>
<table>
    <thead>
        <th>Encoding</th>
        <th>Valid flags</th>
        <th>Clocks (cog)</th>
        <th>Clocks (hub)</th>
    </thead>
    <tbody>
        <td><%=op.enctext%></td>
        <td><%=op.flags.join ?/%></td>
        <td><%=op.time_cog%></td>
        <td><%=op.time_hub%></td>
    </tbody>
</table>
