<%#---
title: Diagram test
sitemap_exclude: true
---%>
<h1>Diagram test</h1>

<h2>Eggbeater</h2>
<img class="float-right" src="p2-hub-ram-interface.gif">
<iframe width="400" height="500" src="diagram-eggbeater.html" style="border:none;"></iframe>
