

@font-face {
    font-family: 'Orbitron';
    src: url('common/Orbitron-Regular.eot');
    src: url('common/Orbitron-Regular.woff2') format('woff2'),
        url('common/Orbitron-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Parallax';
    src: url('common/Parallax.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    size-adjust: 125%;
}

@mixin inset-border {
    border-color: #888 #ddd #ddd #888;
    @media screen and (prefers-color-scheme: dark) {
        border-color: #333 #556 #556 #333;
    }
}
@mixin outset-border {
    border-color: #ddd #888 #888 #ddd;
    @media screen and (prefers-color-scheme: dark) {
        border-color:  #556 #333 #333 #556 ;
    }
}

body {
    background-color: #ccc;
    color: #000;
    @media screen and (prefers-color-scheme: dark) {
        background-color: #444;
        color: #fff;
    }
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-size-adjust: none;
}

img,svg {
    display: block;
    image-rendering: initial;
    max-width: 100%;
    border: none;
}
.dark-invert {
    @media screen and (prefers-color-scheme: dark) {
        filter: invert(1) hue-rotate(180deg);
    }
}

ul,ol {
    overflow: hidden;
}

.column_list {
    columns: 5;
    @media screen and (max-width:639) {
        columns: 3;
    }
}

#sitelogo {
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    height: 132px;
    z-index: 2;
    #reimu {
        position: absolute;
        top: 0px;
        left: 0px;
        filter: drop-shadow(1px 4px 4px #000);
        pointer-events: none;
    }
    #logotext {
        position: absolute;
        font-family: 'Parallax',monospace;
        top: 70px;
        left: 100px;
        font-size: 40px;
        color: #fff;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
        font-weight: bold;
        filter: drop-shadow(1px 1px 4px #000);
    }
    #hjreadybutton {
        display: none;
        .hyperjump-ready & {
            display: block;
        }
        position: absolute;
        bottom: 6px;
        right: 32px;
        font-style: italic;
        font-weight: bold;
        font-family: 'Orbitron',serif;
        cursor: pointer;
        @media (width < 750px) {
            display: none;
        }
        @media (hover: none) and (pointer: coarse) { // There is no way to query for a keyboard. lmaowtf.
            position: fixed;
            background: #ccc;
            bottom: -1px;
            right: -1px;
            border-top-left-radius: 10px;
            border: 1px solid black;
            opacity: 80%;
            z-index: 20;
        }
        & > span {
            @keyframes hjready {
                from {background-position-x: 0%;}
                to {background-position: 100%;}
            }
            font-size: 19px;
            padding: 2px 8px 1px 4px;
            display: block;
            color: transparent;
            background: linear-gradient(117deg, transparent 0% 20%, #d00 20% 30%, #cc0 30% 40%, #0d0 40% 50%, #0bb 50% 60%, #00d 60% 70%, #707 70% 80%,#000 80% 100%);
            background-size: 500%;
            -webkit-background-clip: text;
            background-clip: text;
            animation: hjready 0.7s 0.3s forwards linear;
            background-position: 0%;
        }
    }
}

#cornernav {
    position: relative;
    display: contents;
    #forkme {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 4;
        clip-path: polygon(0% 0%,50% 0%,100% 50%,100% 100%);
    }
}

main {
    line-height: 1.4;
    background-color: #fff;
    flex-grow: 1;
    margin: auto;
    padding: 20px 12px 12px 12px;
    width: 100%;
    @media screen {
        border: 1px solid #000;
        border-radius: 8px;
        max-width: 1280px;
        box-sizing: border-box;
        display: block; // IE9 lmao
        filter: drop-shadow(8px 8px 10px #000);
    }
    &:after {
        /* fix float stupidity */
        content: "";
        display: table;
        clear: both;
    }
    &>h1:first-child {
        margin-top: 0;
    }
    @media screen and (prefers-color-scheme: dark) {
        background-color: #111;
    }
}

body>footer {
    background: linear-gradient(transparent,black);
    color: #ddd;
    padding: 8px;
    margin-top: auto;
    z-index: 1;
}

h1 {
    font-size: 2.4em;
}
article {
    h1 {
        font-size: 1.5em;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    time {
        color: #555;
    }
}
h2 {
    font-size: 1.85em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.1em;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Parallax',monospace;
    &:target {
        text-decoration: underline 4px #900;
    }
}

// Default link colors read poorly in dark scheme
@media screen and (prefers-color-scheme: dark) {
    a {
        color: #55FF;
        &:visited {
            color: #A4E;
        }
    }
}

.fail_link {
    color: red;
}

/*
.stuff-container {
    display: table;
    width: 100%;
    border: 2px solid;
    border-color: #ddd #888 #888 #ddd;
    background-color: #f8f8f8;
    &>div {
        display: table-row;
        &>section {
            border: 2px solid;
            border-color: #888 #ddd #ddd #888;
            display: table-cell;
            padding: 0px 12px 12px 4px;
            @media (max-width:639px) {
                display:block;
            }
        }
    }
}*/


table {
    border: 2px solid;
    @include outset-border;
    border-spacing: 0px;
    font-family: 'Parallax',monospace;
    font-size: 14px;
    @supports (width:fit-content) {
        display: block;
        width: fit-content;
        max-width: 100%;
        overflow-x: auto;
    }
    box-sizing: border-box;
}
th,td {
    padding: 2px;
    border: 2px solid;
    @include inset-border;
    margin: 0;
}
th {
    background: #ccc;
    @media screen and (prefers-color-scheme: dark) {
        background: #44444A;
    }
}
tr {
    background: #eee;
    @media screen and (prefers-color-scheme: dark) {
        background: #222222;
    }
    &:nth-child(even) {
        background: #ddd;
        @media screen and (prefers-color-scheme: dark) {
            background: #2A2A30;
        }
    }
}
.nobg {
    border: none;
    background: none;
}

.p2instrinfo {
    h3 {
        font-size: 1em;
        .opname {
            font-size: 1.5em;
        }
        .args {
            font-size: 1.5em;
            color: #666;
            @media screen and (prefers-color-scheme: dark) {
                color: #aaa;
            }
        }
        .flags {
            color: #666;
            @media screen and (prefers-color-scheme: dark) {
                color: #aaa;
            }
            font-size: 1.05em
        }
        .desc {
            font-size: 1.05em
        }
        .setq {
            color: #666;
            @media screen and (prefers-color-scheme: dark) {
                color: #aaa;
            }
            display: inline-block;
            text-decoration: none;
            font-size: 0.9em;
        }
        margin-bottom: 12px;
        margin-top: 32px;
    }
    &.joinup h3 {
        margin-top: 8px;
    }
}
.p2smartinfo {
    h3 {
        .modenum {
            color: #666;
            @media screen and (prefers-color-scheme: dark) {
                color: #aaa;
            }
            font-size: 0.7em;
        }
        .desc {
            font-size: 0.7em;
        }
    }
    &.joinup h3 {
        margin-top: 8px;
    }
}

kbd {
    $inner-color: #542;
    $light-color: #876;
    $dark-color: #302818;
    color: #eee;
    display: inline-block;
    background: radial-gradient($inner-color,transparent),linear-gradient(to top left,$light-color,$dark-color);
    background-color: $inner-color;
    border-color: $light-color $dark-color $dark-color $light-color;
    border-style: solid;
    border-width: 2px 5px 6px 3px;
    line-height: 1;
    border-radius: 8px;
    text-align: center;
    padding: 1px 3px 0px 3px;
    min-width: calc(1em - 2px);
    font-family: 'Orbitron',serif;
    font-size: 13px;
}

figure {
    background: #aaa;
    border: 4px solid;
    @include outset-border;
    padding: 4px 4px 0 4px;
    margin: 4px auto;
    width: fit-content;
    &:target{
        border-color: #ee2 #992 #992 #ee2;
        background: #bb2;
        & > figcaption {
            font-weight: bold;
        }
    }
    clear: both;
    &.figstack {
        clear: none;
    }
    img {
        max-width: 100%;
    }
    max-width: 100%;
    text-align: center;
}
figcaption {
    text-align: left;
    margin-top: 2px;
    border-top: 2px solid #444;
    padding: 4px 2px;
    width: min-content;
    min-width: 100%;
    box-sizing: border-box;
}
figure a > img {
    vertical-align: top;
}

.float-left {
    float: left;
    margin-right: 8px;
    display: -ms-grid;
    -ms-grid-columns: min-content;
}
.float-right {
    float: right;
    margin-left: 8px;
    display: -ms-grid;
    -ms-grid-columns: min-content;
}

blockquote {
    border: 6px solid;
    @include inset-border;
    background-color: #eee;
    @media screen and (prefers-color-scheme: dark) {
        background-color: #222;
    }
    padding: 4px;
}

#markdown-toc {
    border: 4px ridge;
    padding: 4px 16px 4px 16px;
    width: 400px; // IE fallback hack
    width: fit-content;
    background: #eee;
    margin-left: 16px;
    &:before {
        content: "Contents";
        line-height: 1.75;
        font-size: larger;
        font-weight: bold;
    }
    &>li {
        margin-left: 16px;
    }
}

pre.highlight {
    padding: 8px;
    border: 2px solid #777;
    overflow-x: auto;
}

code {
    font-family: 'Parallax',monospace;
}

.highlight {
    background: #000000;
    color: #ffffff;
    code {
        font-size: 14px;
    }
}

pre {
    line-height: 1.2;
    text-align: left;
    overflow-x: auto;
}

nav#hyperjump {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    -webkit-backdrop-filter: blur(6px); // Safari brainrot
    backdrop-filter: blur(6px);
    background: #000A;
    color: #fff;
    &.hjvisible, &.hj-force-show {
        opacity: 100%;
        pointer-events: initial;
        transition: opacity 0.2s;
    }
    h1 {
        font-style: italic;
        font-family: 'Orbitron';
        pointer-events: none;
    }
    input {
        width: 720px;
        max-width: 100%;
        color: #f8f8f8;
        background: #222;
        border: none;
        outline:none;
        font-size: 28px;
        font-family: 'Parallax',monospace;
        font-weight: bold;
        padding: 12px;
        border-radius: 0; // Safari brainrot
    }
    #hjresults {
        width: 700px;
        max-width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 12px;
        font-family: 'Parallax',monospace;
        font-size: 16px;
        a {
            text-decoration: none;
        }
        li {
            display: block;
            background: #1117;
            margin-top: 6px;
            padding: 8px;
            color: #999;
            .hjrt {
                color: #fff;
                font-weight: bold;
            }
            .hjrte {
                color: #bbb;
                font-weight: bold;
            }
            @media (width < 640px) and (pointer: coarse) {
                font-size: 1.6em;
                margin-top: 12px;
            }
        }
        li:hover {
            background: #1187;
            box-shadow: 0 0 6px 1px #55f;
        }
        .hjrsel>li {
            background: #11f7;
            box-shadow: 0 0 6px 1px #11f;
        }
    }
    @media (width < 640px) {
        zoom: 0.6667;
        width: 150vw;
        height: 150vh;
    }
    &>* {
        max-width: 1024px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}
